@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: #161637;
  font-family: "Ubuntu", "Arial", sans-serif;
}

.form-input {
  border-radius: 10px;
}

.planet-div {
  padding: 20px;
  font-size: 30px;
}

.sign-in-page, .registration-div, .planet-list, .planet-show, .edit-planet-page {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  margin-top: 20px;
  width: 60%;
  height: 100vh;
  border-radius: 10px;
  font-family: "Ubuntu", "Arial", sans-serif;
}

h1 {
  font-family: "Ubuntu", "Arial", sans-serif;
}

h4 {
  font-family: "Ubuntu", "Arial", sans-serif;
}

.logo {
  margin: 0;
  padding: 0;
  position: relative;
  top: -10px;
  width: 60px;
}

.top-bar {
  background-color: #ffa500;
}

.top-bar ul {
  background-color: #ffa500;
}

.menu-text {
  color: #000;
}

.home-text {
  color: #000;
}

.home-text:hover {
  color: #800080;
}

.sign-state-button {
  margin-right: 10px;
}

.submit-form-button {
  border: none;
  padding: 10px;
}

.authentication-button, .sign-state-button, .submit-form-button, .edit-button, .clear-button, .delete-button { 
  background-color: #800080;
  border-radius: 10px;
  color: #fff;
}

.authentication-button:hover, .sign-state-button:hover, .submit-form-button:hover, .edit-button:hover, .clear-button:hover, .delete-button:hover {
  background-color: #863a86;
  color: #fff;
  cursor: pointer;
}

.planet-image {
  position: relative;
  top: -20px;
  height: 100px;
}

.new-review-form, .new-planet-form {
  width: 75%;
  margin: 20px auto;
  text-align: center;
}

.planet-list-image {
  height: 100px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.drag-and-drop {
  background-color: #d4d4d4;
  padding: 10px;
  margin-bottom: 5px;
}

.new-review-form {
  width: 75%;
  padding-bottom: 10px;
  margin: 10px auto 0px;
  text-align: center;
}

.review {
  padding: 10px;
  border: 2px solid #800080;
  border-radius: 25px;
  margin: 10px auto;
  width: 75%;
}

.clear-button {
  padding: 10px 25px;
  display: inline-block;
}

.edit-button {
  display: inline-block;
  padding: 10px 5px;
}

.delete-button {
  margin-left: 5px;
  padding: 14px 5px;
  display: inline-block;
}

.up-vote:hover, .down-vote:hover {
  cursor: pointer;
}